/* Impor kedua font (Poppins & Overpass) dalam satu panggilan. */
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import 'tailwindcss';
@source "../views";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source inline("bg-red-100 bg-blue-100 bg-yellow-100 bg-green-100 text-yellow-800 text-red-800");

@theme {
    --font-pop: 'Poppins', ui-sans-serif, system-ui, sans-serif;
    --font-overpass: 'Overpass', ui-sans-serif, system-ui, sans-serif;
}
body {
    font-family: var(--font-pop);
}